@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Red Hat Display", sans-serif;
  background: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--Pale-blue);
}
p {
  font-size: 0.8rem;
}
main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background: white;
  width: 20rem;
  border-radius: 1rem;
}
.hero-img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
.content-container {
  padding: 2rem;
  text-align: center;
}
.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}
.caption {
  color: var(--Desaturated-blue);
  margin-bottom: 1.2rem;
}
.plan-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  background: var(--Very-pale-blue);
  border-radius: 0.4rem;
  margin-bottom: 1.2rem;
}
.music-icon-container {
  width: 0.8rem;
}
.music-icon {
  width: 2.4rem;
  margin: 0 0.6rem;
}
.plan-text {
  font-weight: bold;
  text-align: left;
}
.price {
  color: var(--Desaturated-blue);
  text-align: left;
}
a {
  padding: 0 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--Bright-blue);
  text-align: right;
}
button {
  border: none;
  background: var(--Bright-blue);
  color: var(--Very-pale-blue);
  font-weight: bold;
  width: 100%;
  height: 2.4rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  box-shadow: hsla(245, 75%, 52%, 0.289) 0px 10px 30px;
}
button:hover {
  opacity: 0.7;
}
.order-cancel {
  color: var(--Desaturated-blue);
  font-weight: bold;
}
a,
button,
.order-cancel {
  cursor: pointer;
}

@media only screen and (max-width: 375px) {
  body {
    background: url(./images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--Pale-blue);
  }
}
